

#about-home {
    cursor: pointer;
}

.mid-div {
    display: flex;
    flex-direction: column;
}

.about-text-div {
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    width: 50%;
    margin-left: 1rem;
    margin-bottom: 12vw;
    text-transform: capitalize;
}

.marquee-div {
    width: 98%;
    font-size: 4vw;
    overflow: hidden;
    margin: 0 auto;
    display: block;
  }

  .marquee-text:hover {
    animation-play-state: paused;
  }

.marquee-text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 12s linear infinite;
  }

.marquee-text p {
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 .75rem;
  }

/* @keyframes primary {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  } */

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }