.splash-div {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 overflow: hidden;
 background-color: #151515;
}

.circle-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-circle {
  width: 42vw;
  height: 42vw;
  /* background: radial-gradient(circle, rgb(17, 199, 77) 0%, rgb(246, 56, 215) 100%); */
  border-radius: 500%;
  /* position: absolute; */
  box-shadow: 1px 1px 30px 5px rgba(89,89,89,0.95);
  filter: blur(2px);
}

.videohome {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    animation-play-state: running;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.splash-txt-div {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin: .5;
}

.design-div {
  margin: 0 1vw;
}

.splash-header {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Syne', sans-serif;
    font-weight:800;
    /* color: rgb(26, 26, 26); */
    color: #f9f9f9;
    font-size: 3vw;
    padding: 0;
    margin-left: 1rem;
}

.splash-li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.25vw;
    align-items: start;
    color: #f9f9f9;
    line-height: 2;
    list-style: none;
}
.hidden-span {
    display: none;
  }

  .hidden-a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .hidden-a:hover .hidden-span {
    display: block;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    translate: -50%;
    transform: rotate(-8deg);
  }

  .hidden-div {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-div:hover .hidden-span {
    display: block;
    position: fixed;
    transform: rotate(-9deg);
    z-index: 999;
  }

  .hidden-img {
    width: 42vw;
    min-width: 18rem;
  }

  .footer {
    width: 100vw;
    height: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.25vw;
    color: #f9f9f9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .cordnates {
    padding: 1vw;
  }

  @media only screen and (max-width: 390px) {
  
    /* .splash-div {
      flex-wrap: wrap;
      justify-content: center;
     
    }
    .splash-header {
        font-size: 3rem;
        transform: rotate(270deg);
    }
    .design-div {
     display: none;
    }
    .splash-li {
        font-size: 1rem;
    }
    .hidden-a:hover .hidden-span {
        top: 25%;
        left: auto;
      } */
  }