.splash-div {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 0 auto;
 background-size: cover;
 background-repeat: no-repeat;
}


/* .link {
  top: 0;
  left: 0;
  margin: 2vw;
  font-family: 'Inter', sans-serif;
	width: 5rem;
	height: auto;
  position: fixed;
  font-size: 1.55rem;
  font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1175em;
	word-spacing: 0.3em;
	text-decoration: none;
  animation: rotate infinite 8s linear;
  z-index: 999;

  &__svg {
		width: auto;
		height: auto;
		transform-box: fill-box;
		fill: #000;
		stroke: #000;
		stroke-width: 1.5em;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
} */


.videohome {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    animation-play-state: running;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* .pseudo-text-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform .5s; 
  display: block;
  
  &::after {
    content: attr(data-after);
    display: inline-block;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    transition: inherit;
  }
  
  > span {
    display: inline-block;
    transform: translateY(0%);
    transition: inherit;
  }
  
  &:hover {
    > span {
      transform: translateY(-100%);
      cursor: pointer !important;
    }
    &::after {
      transform: translateY(0%);
      cursor: pointer !important;
    } 
  }
}*/


.splash-txt-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

.design-div {
  width: 75vw;
  display: flex;
  justify-content: flex-start;
}

.splash-header {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Syne', sans-serif;
    font-weight:800;
    color: rgb(26, 26, 26);
    font-size: 6vw;
    padding: 0;
    margin: 0;
}

.splash-li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.25vw;
    align-items: start;
    color: rgb(242, 255, 226);
    line-height: 2;
    list-style: none;
}
.hidden-span {
    display: none;
  }

  .hidden-a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .hidden-a:hover .hidden-span {
    display: block;
    position: fixed;
    z-index: -1;
    top: 5rem;
    left: 50%;
    translate: -50%;
    transform: rotate(-8deg);
  }

  .hidden-div {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-div:hover .hidden-span {
    display: block;
    position: relative;
    transform: rotate(-9deg);
  }

  .hidden-img {
    width: 42vw;
    min-width: 18rem;
  }

  @media only screen and (max-width: 390px) {
    .splash-div {
      flex-wrap: wrap;
      justify-content: center;
     
    }
    .splash-header {
        font-size: 3rem;
        transform: rotate(270deg);
    }
    .design-div {
     display: none;
    }
    .splash-li {
        font-size: 1rem;
    }
    .hidden-a:hover .hidden-span {
        top: 25%;
        left: auto;
      }
  }