
.footer-body {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 999;
}

.footer-link-div {
    margin: 0 0 1vw 2vw;
}

.footer-ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-weight: 900;
    font-size: 1.25vw;
    color: rgb(242, 255, 226);
}

.footer-list {
    line-height: 2;
    transition: all .5s ease-in-out;
    
}

.footer-list:hover {
    letter-spacing: .25rem;
    cursor: pointer !important;
}