
.scroll-text-div {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    padding: 0;
    margin: 0;
    
}

.scroll-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #f9f9f9;
    background-color: transparent;
    font-size: 4rem;
    font-weight:800;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    mix-blend-mode: difference;
    z-index: 999;
    /* line-height: 1; */
    /* will-change: transform; */
    position: relative;
}

.scroll-text:hover {
    cursor: pointer;
}